html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } 

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* 
Colours Used:
Light Green - #eef6cd
Olive Green - #64a604
Light Grey - #efefef
Dark Grey - #2e2e2e
Darker Grey - #252525
Text Grey - #999999
*/

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 60%;
    margin: 0 auto;
}

body {
    font-family: "Raleway", serif;
    font-size: 1.6rem;
    color: #333333;
}

p {
    font-size: 1.2rem;
    font-family: "Lora", serif;
}

figure, img, li, ul {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

.greenLine {
    border: 2px solid #64a604;
    width: 10%;
    margin: 0 auto;
}

section {
    clear: both;
}

i.fab:hover {
    color: #64a604;
}


/* ALL NAVIGATION SECTION */

.menuBar {
    width: 90%;
    margin: 0 auto;
}

.menuBarLogo {
    float: left;
    width: 40%;
}

.mainHeaderMenu {
    float: left;
    width: 60%;
}

nav ul, nav li {
    list-style: none;
    padding: 1%; 
    text-transform: uppercase;
    text-align: right;
}

.mainHeaderMenu ul li {
    display: inline-block;
}

.mainHeaderMenu a {
    text-decoration: none;
    color: black;
    font-style: bold;
}

.mainHeaderMenu a:hover {
    color: #64a604;
}

/* INDEX CSS STYLES */

/* Header Section */
.mainPageHeader {
    background-image: url(../assets/home-1.jpeg);
    height: 100vh;
    background-size: cover;
}

.homeTestimonials {
    background-color: #dded9a;
}

/* Main Recipes Section */

/* Does it make sense to use pseudo elements for the font awesome logos? */

.recipeTypes {
    background: #efefef;
}

.recipes {
    width: 50%;
    float: left;
    background: transparent;
    overflow: hidden;
}

.recipes1 {
    padding: 120px;
}

.recipes1Button {
    background: #64a604;
    font-family: "Raleway";
    text-transform: uppercase;
    padding: 10px 15px;
    color: white;
    font-size: 13px;
    border: none;
    margin: 0 auto;
}

.recipes4 {
    padding: 40px 30px 40px 30px;
}

.recipes4 h4 {
    margin: 0;
    padding: 0;
}

.recipeBox {
    float: left;
    width: 50%;
    padding: 20px;
}

.recipeIcon {
    float: left;
    width: 10%;
}

.recipeText {
    float: left;
    width: 90%;
    padding-left: 5%;
}


/* Main Restaurants Section */

.mainRestaurants {
    padding: 120px 100px 100px 100px;
}

.restoSection {
    margin: 0 auto;
    position: relative;
}

.restoImage1 {
    width: 50%;
    margin: 0 auto;
}

.restoImage2 {
    width: 20%;
    position: absolute;
    top: -73px;
    right: 110px;
}

.mainRestaurantText {
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 10%;
    text-align: center;
}


/* Main Gallery Section */

.gallery ul {
    list-style-type: none;
}

.gallery ul li {
    /* float: left; */
    width: 100%;
}

.gallery figure {
    width: 33.3%;
    float: left;
}

/* .gallery li:hover {
    
} */


/* Main Testimonials Section */

.mainTestimonials {
    background-color: #dded9a;
    padding: 120px 0;
    text-align: center;
    line-height: 20px;
}

blockquote {
    padding: 20px;
    position: relative;
    font-family: "Lora";
    font-style: italic;
}

/* Update Blockquote quotations to match the original */

blockquote::before {
    content: "“";
    font-size: 80px;
    font-family: serif;
    font-style: regular;
    color: #eef6cd;
    position: absolute;
    top: -10px;
    left: -10px;
}

blockquote::after {
    content:"”";
    font-size: 80px;
    font-family: serif;
    font-style: regular;
    color: #eef6cd;
    position: absolute;
    bottom: -20px;
    right: -10px;
}

.arrows {
    padding: 15px;
    font-size: 40px;
    color: #eef6cd;
}

/* Main Footer */

footer {
    background-color: #2e2e2e;
    color: #999999;
}

footer p {
    line-height: 20px;
    font-size: 1.1rem;
}

footer h2, footer h4 {
    color: #ffffff;
    text-align: left;
}

footer h2 {
    color: #64a604;
}


.footerTop {
    padding: 40px 0px 30px 0;
}

.footerBox {
    float: left;
    padding: 20px 10px;
    width: calc((100% - 20px) / 3 )
}

.footerContent {
    padding-top: 10px;
}

.footerBox2 {
    margin: 0 10px;
}

.footerBottom {
    background-color: #252525;
    clear: both;
}

.footerCopyRight {
    width: 100%;
    padding: 10px;
    clear: both;
}

.subscribeNow {
    margin: 10px 0;
}

.footerSubscribeEmail {
    background-color: #535353;
    color:#efefef;
    font-family: "Lora";
    font-style: italic;
    font-size: 1.2rem;
    padding: 12px 15px;
    border: none;
    width: 85%;
    float: left;
}

.footerSubscribeButton {
    width: 15%;
    background-color: #64a604;
    color: white;
    padding: 9px 0;
    border: none;
}

.footerSubscribeEmail:focus{
    border-bottom: 1px solid white; 
}

.footerSubscribeButton:hover {
    background-color: white;
    color: #64a604;
}

.socialFooter {
    clear: left;
    padding-top: 10px;
    color: white;
}

.socialFooter i.fab {
    padding-right: 10px;
}

.greyLine {
    width: 100%;
    border-bottom: 0.5px solid #606060;
    padding: 5px 0;
}

.polar {
    color: #5a920c;
}

/* BLOG CSS STYLES */

.blogPageHeader {
    background-image: url(../assets/blog-1.jpeg);
    background-size: cover;
    background-position: fixed;
    height: 70vh;
}

.blogDottedLine {
    border-bottom: 1px dotted black;
}

/* Blog Body */

.blogAuthor {
    background-color: #f6f6f6;
}

.blogAuthor, .blogText {
    margin-bottom: 25px;
}

/* .blogText, .blogAuthor {
    padding: 5%;
} */

.bloggerPhoto {
    width: 25%;
    float: left;
}

.bloggerText {
    float: left;
    width: 75%;
    padding: 15px;
}

/* Blog Related Articles */


.relatedArticles h3:nth-child(1) {
    text-align: left;
}

.relatedPost {
    width: calc((100% - 60px) / 3);
    float: left;
}

.relatedImage {
    width: 100%;
    overflow: hidden;
}

.relatedPost2 {
    margin: 0 30px;
}

/* Blog Content - Comments Section */

/* on this page, take off 5% padding.  Also add max width to wrapper. */

.commentProfile {
    width: 70px;
    float: left;
}

.commentText {
    width: calc(100% - 85px);
    background-color: #f6f6f6;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px; 
    padding: 5px 10px;
}

.blogCommentForm {
    padding: 5%;
}

.commentForm {
    background-color: #f6f6f6;
    padding: 10px 15px;
}



/* CONTACT CSS STYLES*/

.contactPage {
    background-image: url(../assets/contact-1.jpeg);
    height: 70vh;
    background-size: cover;
}

.contactForm h3 {
    text-align: left;
}

.contactDetails h4 {
    padding-bottom: 10px;
}

.contactLeft, .contactRight {
    float: left;
    padding: 50px 0 50px 0;
}

.contactLeft {
    width: 60%;
}

.contactRight {
    width: 40%;
    background: #f6f6f6;
}

.contactCommentForm {
    background: transparent;
    float: right;
    width: 60%;
    padding: 0 20px;
    color: #252525;
}

#contactForm input, #contactForm textarea{
    border: none;
    background-color: #f6f6f6;
    color: #999999;
    margin-bottom: 15px;
    font-size: 10px;
    font-family: "Lora";
    padding: 15px;
}

#contactForm input[type=name] {
    margin-right: 1%;
}

#contactForm input[type=name], #contactForm input[type=email]{
    width: 49%;
}

#contactForm input[type=subject] {
    width: 100%;
    margin-right: 10px;
}

#contactForm input[type=text] {
    width: 100%;
}

#contactForm textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    color: #999999;
    resize: none;
}

#contactForm button {
    border: none;
    background: transparent;
    color: #64a604;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}

#contactForm button:hover {
    border: 2px solid #f6f6f6;
}

.contactDetails {
    width: 50%;
    padding-left: 20px;
    line-height: 20px;
}

/* .hours p {
    line-height: 12px;
} */

.hours p:nth-child(3), .contactInfo p {
    color: #999999;
}
